---
interface Props {
	title: string
	description: string
	imageUrl: string
	backgroundColor: string
}

const { title, description, imageUrl } = Astro.props
---

<section class={`${Astro.props.backgroundColor}`}>
	<hr class="h-px mb-8 bg-slate-700 border-4 dark:bg-red-700" />
	<div
		class="grid grid-cols-1 md:grid-cols-2 justify-between mt-10 items-center gap-3 px-24"
	>
		<div>
			<h1 class="text-center text-4xl font-bold md:text-left dark:text-white">
				{title}
			</h1>
			<p class="text-center md:text-left dark:text-white">{description}</p>
		</div>
		<div class="mx-auto">
			<img height="400" width="400" src={imageUrl} alt="Imagen de fondo" />
		</div>
	</div>
</section>
